@import "reset";
* {
  box-sizing: border-box;
}
body {
    background: tomato;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5em;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.height-2-rows {
    grid-row-start: 1;
    grid-row-end: 3;
    background: pink;
}
span.block {
    display: block;
}
.week {
    font-size: 50px;
    font-weight: 700;
    padding: 2em 2em 2em 0.5em;
}