@import "reset";
* {
  box-sizing: border-box;
}
body {
    //background: tomato;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5em;
    line-height: 1.5;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.height-2-rows {
    grid-row-start: span 2;
}
span.block {
    display: block;
}
.week {
    font-size: 4em;
    font-weight: 700;
    padding: 2em 2em 2em 0.5em;
    line-height: 1;
    background: #013369;
    
}
.game {
    display: flex;
   
    height: 100%;
    background :pink;
    div.team {
        &.home {
            text-align: right;
            justify-content: flex-end;
        }
        display: flex;
        flex-wrap: wrap;
        padding: 3em 1em;
        width: 50%;
        align-items: center;
        
        span {
            display: block;
        }
    }
}

#years {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
    padding: 1em; 

    li {
        font-size: 0.8em;
        line-height: 2;
    }
}